.links:link { text-decoration: none; }
.links:visited { text-decoration: none; }


.links:hover { text-decoration: none; color: red}


.links:active { text-decoration: none; }

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}